* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 35%);
}
body {
  background-color: #51a0cb;
  height: 100vh;
  width: 100%;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px;
}
.img {
  box-shadow: var(--box-shadow);
  min-height: 200px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: flex;
}
.new-button {
  background-color: white;
  width: 60px;
  height: 60px;

  position: absolute;

  bottom: 60px;
  right: 60px;

  margin: auto;
  text-align: center;
  border-radius: 60px;
  border: 0;
  outline: 0;

  font-weight: bolder;
  border: 1px solid black;

  cursor: pointer;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  box-shadow: var(--box-shadow);
}
.button:hover {
  background-color: #705f3a;
  color: white;
}
.diaries {
  border-radius: 10px;
  overflow-y: auto;
  /* margin-top: 20px; */
}
.diary {
  background-color: #ffffff;
  padding: 28px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: var(--box-shadow);
  animation: diaryanimation 1s forwards;
}
@keyframes diaryanimation {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.theme-button {
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50px;
  outline: none;
  border: 1px solid black;
}

.active {
  border: 2px solid white;
}
.model-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 999;
}

.model {
  width: 60%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: flex-end;
  z-index: 1000;

  display: none;
}
.model input,
.model textarea {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid gray;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.model input:focus,
.model textarea:focus {
  border: 2px solid black;
}
.model input {
  font-size: 18px;
}
.model textarea {
  flex: 1;
  font-size: 14px;
}
.model button {
  width: min-content;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid gray;
  transition: 0.4s;
}
.model button.close {
  background-color: transparent;
  border: none;
  padding: 8px;
  border-radius: 3px;
}
.model button:hover,
.model button.close:hover {
  background-color: rgb(211, 211, 211);
}
.model .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
